<div class="container-body">
  <div class="title-card">
    <%= image_tag "logo.png", class: "small-logo" %>
    <h2 class="mt-2 mb-2">My favourite recipes</h2> <%= image_tag "logo.png", class: "small-logo" %>
  </div>

    <%# need to look at add a favouriter gem for output %>
  <% @favorite_recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-card-image" style="background-image: url('<%= recipe.image %>');">
      </div>
      <div class="recipe-card-content">
        <div>
          <div class="title"><h5><%= recipe.title %></h5></div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to "COOK", bookmarks_user_path(recipe: recipe), data:{turbo_method: :post}, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/navbar" %>
