<div class="container-body">
  <div class="title-card">
    <%= image_tag "logo.png", class: "small-logo" %>
    <h2 class="mt-2 mb-2">My favourite recipes</h2> <%= image_tag "logo.png", class: "small-logo" %>
  </div>

    <%# need to look at add a favouriter gem for output %>
    <% @favorite_recipes.each do |recipe| %>
    <div class="card-recipe">
      <div class="card-recipe-image" style="background-image: url('<%= recipe.image %>');">
        <div class="like-container">
            <%= link_to("#", class: "like",
            ) do %>
            <i class="fa <%= current_user.favorited?(recipe) ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
          <% end %>
        </div>
      </div>
      <div class="card-recipe-infos my-4">
        <div class="flex d-flex justify-content-between mx-2">
          <p><i class="fa-solid fa-plate-wheat me-2"></i><%= recipe.cuisine %></p>
          <p><i class="fa-solid fa-user-group me-2"></i><%= recipe.people %></p>
          <p><i class="fa-regular fa-clock me-2"></i><%= recipe.time %>min</p>
        </div>
        <div class="flex d-flex justify-content-evenly">
          <h4 class="flex-grow-1 ms-2 me-2"><%= recipe.title %></h4>
          <%= link_to "COOK", bookmarks_user_path(recipe: recipe), data:{turbo_method: :post}, class: "btn btn-success me-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/navbar" %>
