<div class=container>
  <% @recipes.each do |recipe| %>
    <div class="card-recipe">
      <img src=<%= recipe.image %> />
      <div class="card-recipe-infos my-4">
        <h2><%= recipe.title %></h2>
        <p><i class="fa-solid fa-plate-wheat"></i><%= recipe.cuisine %></p>
        <p><i class="fa-solid fa-pen me-2"></i><%= recipe.content %></p>
        <div class="flex d-flex justify-content-evenly">
          <p><i class="fa-solid fa-user-group"></i><%= recipe.people %></p>
          <p><i class="fa-regular fa-clock"></i><%= recipe.time %></p>
        </div>
        <%= link_to("See recipe", meal_recipe_path(@meal, recipe), class: "btn btn-outline-warning") %>
      </div>
    </div>
  <% end %>
</div>
<%# <div data-controller="recipe_index" data-action="#->recipe_index#see_more" class="optional-recipes">
  <h4 class="btn btn-outline-light" >See more</h4>
</div>
</div> %>
