<div class="container-body">
  <div class="title-card mb-4">
    <%= image_tag "logo.png", class: "small-logo" %>
    <h2 class="mt-2 mb-2">Here is what I've found for you!</h2> <%= image_tag "logo.png", class: "small-logo" %>
  </div>

  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-card-image" style="background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, #11111182), url('<%= "#{recipe.image}" %>');">
        <div class="like-container" data-controller="favourites">
          <%= link_to("#", class: "like", data: {
              url: favourite_toggle_meal_path(id: @meal, recipe: recipe),
              favourites_target: "favouriteLink",
              action: "favourites#toggle"
            }) do %>
              <i class="fa <%= current_user.favorited?(recipe) ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
            <% end %>
          </div>
        <div class="recipe-card-infos">
        <h5><%= recipe.title %></h5>
          <div class="flex d-flex justify-content-between mx-3">
            <p><i class="fa-solid fa-list-check"></i> <%= recipe.steps.length %> steps</p>
            <p><i class="fa-solid fa-user-group me-2"></i><%= recipe.people %></p>
            <p><i class="fa-regular fa-clock me-2"></i><%= recipe.time %>min</p>
          </div>
        </div>
      </div>
      <%= link_to "", save_recipe_meal_path(@meal, recipe: recipe), data:{turbo_method: :patch}, class: "card-link" %>
    </div>
  <% end %>
</div>

<%= render "shared/navbar" %>
