<div class="card-recipe">
  <% @recipes.each do |recipe| %>
    <img src=<%= recipe.image %> />
    <div class="card-recipe-infos">
      <div calss>
        <h2><%= recipe.title %></h2>
        <p><i class="fa-solid fa-pen"></i><%= recipe.content %></p>
        <p><i class="fa-solid fa-plate-wheat"></i><%= recipe.cuisine %></p>
        <p><i class="fa-solid fa-user-group"></i><%= recipe.people %></p>
        <p><i class="fa-regular fa-clock"></i><%= recipe.time %></p>
      </div>
      <%# <%= link_to("See recipe", meal_recipe_path(recipe), class: "btn btn-outline-light") %>
    </div>
  <% end %>
</div>
