<div class="banner" style="background-image: url('<%= "http://source.unsplash.com/featured/?#{@recipe.title.gsub(" ", "-")}&#{rand(1000)}" %>');"
</div>
<div class="container-body">
  <div class="container-recipe">
    <h2 class="text-center my-4"><%= @recipe.title %></h2>
    <div class="container text-center">
      <div class="row">
        <div class="col" data-controller="favourites">
            <%= link_to("#", class: "like", data: {
              url: favourite_toggle_meal_path(id: @meal, recipe: @recipe),
              favourites_target: "favouriteLink",
              action: "favourites#toggle"
            }) do %>
              <i class="fa <%= current_user.favorited?(@recipe) ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
            <% end %>
        </div>
        <div class="col">
          <p><i class="fa-solid fa-user-group me-2"></i><%= @recipe.people %></p>
        </div>
        <div class="col">
          <p><i class="fa-regular fa-clock me-2"></i><%= @recipe.time %> min</p>
        </div>
        <div class ="content-card text-start mt-2">
          <p><%= @recipe.content %></p>
        </div>

      </div>
    </div>
  </div>
<div class="container text-start mb-4">
  <div class="small-card mt-3">Ingredients
    <div class="solid-line"></div>
    <% @recipe.ings.each do |ing|%>
    <%= ing %><br>
  <% end %>
  </div>
  <% @recipe.steps.each_with_index do |step, index|%>
    <%# <p class="num-card">Step <%= index+1 %>
    <div class="small-card mt-3">Step <%= index+1 %><br>
    <div class="solid-line"></div>
    <%= step %></div>
  <% end %>
</div>
  <div class="d-flex justify-content-center align-items-center mb-5">
    <%= simple_form_for @meal do |f| %>
      <%= f.input :recipe_id, as: :hidden, input_html: { value: @recipe.id} %>
      <%= f.submit 'Back to recipes', class: 'btn-finish' %>
    <% end %>
  </div>

  <div class="main">
    <div class="btn-box">
      <button class="tab-button active" data-tab="tab1" data-controller="slider" data-panel="#tab1" data-action="click->slider#changeTab">Notes</button>
      <button class="tab-button" data-tab="tab2" data-controller="slider" data-panel="#tab2" data-action="click->slider#changeTab">Gallery</button>
      <div class="slider"></div>
    </div>

  <div class="tab-content show" id="tab1" data-controller="slider" data-target="tab.panel">
    <h2>Notes</h2>
    <%= form_with(model: @review, url: reviews_path, local: true, html: { 'data-controller': 'reviews', 'data-target': 'reviews.form', 'data-action': 'reviews#submit' }) do |f| %>
      <%= f.text_area :content, placeholder: "Tried this with a pinch of extra cinnamon – turned out amazing! ", class: "container pb-3" %>
      <%= f.hidden_field :meal_id, value: params[:meal_id] %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
    <% @recipe.reviews.each do |review| %>
      <div id="notes" data-target="reviews.notes">
        <%= review.content %>
      </div>
      <% end %>
  </div>

  <div class="tab-content" id="tab2" data-controller="slider" data-target="tab.panel">
    <div class=""> <h2>Gallery</h2>
      <%= form_with(model: @meal, url: upload_photo_meal_path(id: @meal), local: true, html: {'data-controller': 'upload'}) do |f| %>
        <%= f.label :photo, '📷 Upload your dish', class: 'upload-photo align-items-center' %>
        <%= f.file_field :photo, class: 'd-none', 'data-action': 'change->upload#submit' %>
        <%= cl_image_tag(@meal.photo.key, width: 315, height: 315, crop: :fill, class: "gallery-img") if @meal.photo.attached? %>
        <%# <%= f.submit "Upload Image", class: "btn btn-success" %>
        <%# # Optional, if you want a submit button %>
      <% end %>
    </div>
  </div>
</div>
</div>

<%= render "shared/navbar" %>
