<div class="banner" style="background-image: url(<%= @recipe.image %>);">
</div>
<div class="container">
  <div class="container-recipe">
    <h2 class="text-center my-4"><%= @recipe.title %></h2>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <p><i class="fa-solid fa-plate-wheat me-2"></i><%= @recipe.cuisine %></p>
        </div>
        <div class="col">
          <p><i class="fa-solid fa-user-group me-2"></i><%= @recipe.people %></p>
        </div>
        <div class="col">
          <p><i class="fa-regular fa-clock me-2"></i><%= @recipe.time %>h</p>
        </div>
        <div class ="text-center mt-5">
          <p><%= @recipe.content %></p>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
        </div>
      </div>
    </div>
  </div>
<div class="container text-center mb-4">
  <% @recipe.steps.each_with_index do |step, index|%>
    <%# <p class="num-card">Step <%= index+1 %>
    <div class="small-card mt-3">Step <%= index+1 %><br><%= step %></div>
  <% end %>
</div>
  <div class="d-flex justify-content-center align-items-center mb-5">
    <%= simple_form_for @meal do |f| %>
      <%= f.input :recipe_id, as: :hidden, input_html: { value: @recipe.id} %>
      <%= f.submit 'Finished!', class: 'btn-finish' %>
    <% end %>
  </div>

  <div class="main">
    <div class="btn-box">
      <button class="tab-button active" data-tab="tab1" data-controller="slider" data-panel="#tab1" data-action="click->slider#changeTab">Notes</button>
      <button class="tab-button" data-tab="tab2" data-controller="slider" data-panel="#tab2" data-action="click->slider#changeTab">Gallery</button>
      <div class="slider"></div>
    </div>

  <div class="tab-content show" id="tab1" data-controller="slider" data-target="tab.panel">
    <h2>Notes</h2>
    <%= form_with(model: @review, url: reviews_path, local: true) do |f| %>
      <%= f.label :content, "" %>
      <%= f.text_area :content, placeholder: "Leave a note to yourself...", class: "container" %>
      <%= f.hidden_field :meal_id, value: params[:meal_id] %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
    <% @recipe.reviews.each do |review| %>
      <div id="notes">
        <%= review.content %>
      </div>
      <% end %>
  </div>

  <div class="tab-content" id="tab2" data-controller="slider" data-target="tab.panel">
    <div class=""> <h2>Gallery</h2>
      <%= form_with(model: @meal, url: upload_photo_meal_path(id: @meal), local: true, html: {'data-controller': 'upload'}) do |f| %>
        <%= f.label :photo, '📷 Upload your photo', class: 'upload-photo' %>
        <%= f.file_field :photo, class: 'd-none', 'data-action': 'change->upload#submit' %>
        <%= cl_image_tag(@meal.photo.key) if @meal.photo.attached? %>
        <%# <%= f.submit "Upload Image", class: "btn btn-success" %>
        <%# # Optional, if you want a submit button %>
      <% end %>
    </div>
  </div>
</div>
</div>
