<div class="banner" style="background-image: url(<%= @recipe.image %>);">
</div>

<div class="container">
  <h2 class="ms-2 text-center my-3 "><%= @recipe.title %></h2>

  <div class="container text-center">
      <div class="container my-3 align-items-center ">
    <div class="row">
      <div class="col">
        <i class="fa-solid fa-plate-wheat me-2"></i><%= @recipe.cuisine %>
      </div>
      <div class="col">
        <i class="fa-solid fa-user-group me-2"></i><%= @recipe.people %>
      </div>
      <div class="col">
        <i class="fa-regular fa-clock me-2"></i><%= @recipe.time %> m
        </div>
        </div>
        </div>
      <div class ="text-center">
        <p><%= @recipe.content %></p>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
      </div>
    </div>
  </div>
</div>
</div>
<div class="container text-center mb-4">
  <% @recipe.steps.each_with_index do |step, index|%>
    <%# <p class="num-card">Step <%= index+1 %>
    <div class="small-card mt-3">Step <%= index+1 %><br><%= step %></div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
 <%= simple_form_for @meal do |f| %>
  <%= f.input :recipe_id, as: :hidden, input_html: { value: @recipe.id} %>
  <%= f.submit 'Finished!', class: 'btn btn-success' %>
<% end %>
</div>
<div class="container text-center mt-5">
<h2>Reviews</h2>
<% @recipe.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.content %>
  <%= review.user.email %>
<% end %>

<div class="container text-center mt-5">
<%= form_with(model: @review, url: reviews_path, local: true) do |f| %>
  <div class="star-rating mb-3">
    <% 5.times do |i| %>
      <%= f.radio_button :rating, i + 1, checked: i == 2 %>
    <% end %>
  </div>
  <%= f.label :content, "Share your thoughts" %>
  <%= f.text_area :content, class: "small-card" %>
  <%= f.hidden_field :meal_id, value: params[:meal_id] %>
  <%= f.submit "Submit Review", class: "btn btn-success" %>
<% end %>
  <div class=""> <h2>Gallery</h2>
    <%= form_with(model: @meal, url: upload_photo_meal_path(id: @meal), local: true, html: {'data-controller': 'upload'}) do |f| %>
      <%= f.label :photo, '📷 Upload your photo', class: 'upload-photo' %>
      <%= f.file_field :photo, class: 'd-none', 'data-action': 'change->upload#submit' %>
      <%= cl_image_tag(@meal.photo.key) if @meal.photo.attached? %>
      <%# <%= f.submit "Upload Image", class: "btn btn-success" %>
      <%# # Optional, if you want a submit button %>
    <% end %>
  </div>
  </div>
</div>
