<div class="banner" style="background-image: url(<%= @recipe.image %>);">
</div>

<div class="container">
  <h2 class="ms-2"><%= @recipe.title %></h2>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <p><i class="fa-solid fa-plate-wheat me-2"></i><%= @recipe.cuisine %></p>
      </div>
      <div class="col">
        <p><i class="fa-solid fa-user-group me-2"></i><%= @recipe.people %></p>
      </div>
      <div class="col">
        <p><i class="fa-regular fa-clock me-2"></i><%= @recipe.time %>h</p>
      <div class ="text-center mt-5">
        <p><%= @recipe.content %></p>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
      </div>
    </div>
  </div>
</div>
 <%= simple_form_for @meal do |f| %>
  <%= f.input :recipe_id, as: :hidden, input_html: { value: @recipe.id} %>
  <%= f.submit 'Finished!', class: 'btn btn-danger' %>
<% end %>
  <div class="container text-center mb-4">
    

    <% @recipe.steps.each_with_index do |step, index|%>
        <p class="num-card">Step <%= index+1 %></p>
    <div class="small-card"><%= step %></div>
            <% end %>
  </div>
<h2>Reviews</h2>
<% @recipe.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.content %>
  <%= review.user.email %>
<% end %>
<%= simple_form_for @review do |f| %>
  <div class="star-rating mb-3">
    <% 5.times do |i| %>
      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
    <% end %>
  </div>
  <%= f.input :content, label: "Share your thoughts" %>
  <%= f.hidden_field :meal_id, value: params[:meal_id] %>
  <%= f.submit "Submit Review", class: "btn btn-success" %>
<% end %>
<h2 class="mt-3">Gallery</h2>
<p>Share with us the dish you've achieved as a result!</p>
<% @recipe.meals.each do |meal| %>
  <%= image_tag meal.img, alt: "#{meal.id}" %>
<% end %>
<%= simple_form_for(@meal, html: {'data-controller': 'upload'}) do |f| %>
  <%= f.input :img, as: :file, input_html: { class: 'd-none', 'data-action': 'change->upload#submit' }, label_html: { class: 'upload-photo'}, label: '📷 Upload your photo' %>
  <%# <%= f.submit "Upload Image", class: "btn btn-success" %>

<% end %>
</div>
