<div class="container">
  <div class="card-recipe">
    <img src=<%= @recipe.image %> />
    <div class="card-recip-infos my-4">
      <div class="text-center">
        <h2><%= @recipe.title %></h2>
        <p><i class="fa-solid fa-plate-wheat me-2"></i><%= @recipe.cuisine %></p>
      </div>
      <div class="flex d-flex justify-content-evenly">
        <p><i class="fa-solid fa-user-group me-2"></i><%= @recipe.people %></p>
        <p><i class="fa-regular fa-clock me-2"></i><%= @recipe.time %>hrs.</p>
      </div>
      <div class ="text-center mt-5">
        <p><i class="fa-solid fa-exclamation me-2"></i>You are misiing...</p>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <p>Actual recipe here</p>
      </div>
    </div>
  </div>
</div>
<h1>Reviews</h1>
<% @recipe.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.content %>
  <%= review.user.email %>
<% end %>
<%= simple_form_for @review do |f| %>
  <div class="star-rating">
    <% 5.times do |i| %>
      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
    <% end %>
  </div>
  <%= f.input :content, label: "Share your thoughts" %>
  <%= f.hidden_field :meal_id, value: params[:meal_id] %>
  <%= f.submit "Submit Review", class: "btn btn-success" %>
<% end %>
<h1>Gallery</h1>
<p>Share with us the dish you've achieved as a result!</p>
<% @recipe.meals.each do |meal| %>
  <%= image_tag meal.img, alt: "#{meal.id}" %>
<% end %>
<%= simple_form_for @meal do |f| %>
  <%= f.input :img, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Choose your file' %>
  <%= f.submit "Upload Image", class: "btn btn-success" %>

<% end %>
