<div class="container">
  <div class="card-recipe">
    <img src=<%= @recipe.image %> />
    <div class="card-recip-infos my-4">
      <div class="text-center">
        <h2><%= @recipe.title %></h2>
        <p><i class="fa-solid fa-plate-wheat me-2"></i><%= @recipe.cuisine %></p>
      </div>
      <div class="flex d-flex justify-content-evenly">
        <p><i class="fa-solid fa-user-group me-2"></i><%= @recipe.people %></p>
        <p><i class="fa-regular fa-clock me-2"></i><%= @recipe.time %>hrs.</p>
      </div>
      <div class ="text-center mt-5">
        <p><%= @recipe.content %></p>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <% @recipe.steps.each_with_index do |step, index|%>
        <p>Step <%= index+1 %></p>
        <p><%= step %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
 <%= simple_form_for @meal do |f| %>
  <%= f.input :recipe_id, as: :hidden, input_html: { value: @recipe.id} %>
  <%= f.submit 'Finished!', class: 'btn btn-danger' %>
<% end %>
<h1>Reviews</h1>
<% @recipe.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.content %>
  <%= review.user.email %>
<% end %>
<%= simple_form_for @review do |f| %>
  <div class="star-rating">
    <% 5.times do |i| %>
      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
    <% end %>
  </div>
  <%= f.input :content %>
  <%= f.hidden_field :meal_id, value: params[:meal_id] %>
  <%= f.submit "Submit Review" %>
<% end %>
<h1>Gallery</h1>
<% @recipe.meals.each do |meal| %>
  <%= image_tag meal.img, alt: "#{meal.id}" %>
<% end %>
<%= simple_form_for @meal do |f| %>
  <%= f.input :img, as: :file %>
  <%= f.submit "Upload Image" %>

<% end %>
