<div class="container-body">
<div class="container-ingredients-index" data-controller="speech">
  <div class="title-card">
    <%= image_tag "logo.png", class: "small-logo" %>
    <h6 class="mt-2 mb-2">What've you got in stock today?</h6> <%= image_tag "logo.png", class: "small-logo" %>
  </div>

  <div class="card-add-ingredient mt-4">
    <div class="text-center mb-4 card-title">
      <h5>Add an Ingredient</h5>
    </div>
    <div class="form d-flex">
      <div class="d-flex justify-content-center " id="mic">
        <i class="fa-solid fa-microphone" style="color: #484846;"  data-action="click->speech#record"></i>
      </div>
      <%= simple_form_for [@meal, @uploaded_ingredient], url: meal_uploaded_ingredients_path(@meal), html: { 'data-speech-target': "form" } do |f| %>
        <%= f.simple_fields_for :ingredient, @ingredient_new do |i_f| %>
          <%= i_f.input :name, label:false, placeholder: "Type ingredient here!", input_html: { class: "ingredient-input", data: { speech_target: "input" } }, class: "container" %>
        <% end %>
    </div>
        <%= f.submit 'Add', class: "mx-auto d-block btn-add-ingredient" %>
      <% end %>
  </div>

  <div class="container-ingredients-card" data-speech-target="ingredients">
    <div class="text-center mb-4 card-title">
      <h5>Your ingredients</h5>
    </div>
    <%  @uploaded_ingredients.each do |uploaded_ingredient| %>
      <%= render "uploaded_ingredient", uploaded_ingredient: uploaded_ingredient %>
    <% end %>
  </div>

  <%= link_to "Continue", edit_meal_path(@meal), class: "mx-auto d-block btn-continue" %>
</div>
</div>


<%= render "shared/navbar" %>
