<div class="container-body">
<div class="container-ingredients-index" data-controller="speech">
  <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
    <h1>What do we have?</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center mb-2">
    <i class="fa-solid fa-microphone" style="color: #484846;"  data-action="click->speech#record"></i>
  </div>
  <div class="container-ingredients-card" data-speech-target="ingredients">
    <div class="text-center mb-4 card-title">
      <h3>Your ingredients</h3>
    </div>
    <%  @uploaded_ingredients.each do |uploaded_ingredient| %>
      <%= render "uploaded_ingredient", uploaded_ingredient: uploaded_ingredient %>
    <% end %>
  </div>
  <div class="card-add-ingredient">
    <div class="text-center mb-4 card-title">
      <h3>Add an Ingredient</h3>
    </div>
    <div class="form">
      <%= simple_form_for [@meal, @uploaded_ingredient], url: meal_uploaded_ingredients_path(@meal), html: { 'data-speech-target': "form" } do |f| %>
        <%= f.simple_fields_for :ingredient, @ingredient_new do |i_f| %>
          <%= i_f.input :name, label:false, placeholder: "Type ingredient here!", input_html: { class: "ingredient-input", data: { speech_target: "input" } } %>
        <% end %>
        <%= f.submit 'Add Ingredient', class: "mx-auto d-block btn-add-ingredient" %>
      <% end %>
    </div>
  </div>
  <%= link_to "Continue", edit_meal_path(@meal), class: "mx-auto d-block btn-continue" %>
</div>

<%= render "shared/navbar" %>
</div>
