<div class="navbar">
  <div>
              <%= link_to "#" do %>
                <i class="fa-solid fa-house fa-xl" style="color: #50324a;"></i>
              <% end %>
  </div>
  <div>
              <%= link_to "#" do %>
                <i class="fa-solid fa-user fa-xl" style="color: #50324a;"></i>
              <% end %>
              </div>
                <div>
              <%= link_to meals_path, id:"cookbtn", data: {turbo_method: "POST"} do %>
                <i class="fa-solid fa-utensils fa-beat fa-2xl" style="color: #504346; --fa-animation-delay: 1s; --fa-animation-duration: 2s; --fa-animation-iteration-count: 5;"></i>
              <% end %>
              </div>
              <div>
              <%= link_to bookmarks_user_path(current_user) do %>
                <i class="fa-solid fa-heart fa-xl" style="color: #50324a;"></i>
              <% end %>
              </div>
              <div>
              <%= link_to "#" do %>
                <i class="fa-solid fa-gear fa-xl" style="color: #50324a;"></i>
              <% end %>
  </div>
</div>
