<div class="container-meal-preference">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <h2>Tell me more</h2>
  </div>
  <div class="card-time-preference">
    <%= simple_form_for @meal do |f| %>
      <h1>Time Available</h1>
      <%= f.button :submit, class: 'btn' %>
      <%= f.input :time_preference %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
  <div class="card-people-preference">
    <%= simple_form_for @meal do |f| %>
      <h1>People Available</h1>
      <%= f.button :submit, class: 'btn' %>
      <%= f.input :people_preference %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
