<div class="container-meal-preference">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <h2>Tell me more</h2>
  </div>
  <div class="card-preference">
    <%= simple_form_for @meal do |f| %>
      <h3>Time Available</h3>
      <%= f.input :time_preference %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
  <div class="card-preference">
    <%= simple_form_for @meal do |f| %>
      <h3>People Available</h3>
      <%= f.input :people_preference %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
