<div class="container-meal-preference">
  <div class="title-card mb-4">
    <%= image_tag "logo.png", class: "small-logo" %>
    <h3 class="mt-2 mb-2">Tell me more</h3> <%= image_tag "logo.png", class: "small-logo" %>
  </div>
  <div class="card-preference">
    <%= simple_form_for @meal do |f| %>
      <div class="text-center mb-4 preference-title">
        <h4>Time Available</h4>
      </div>
      <div class="d-flex justify-content-evenly" data-controller="form-increment">
        <i class="fa-solid fa-circle-minus fa-2x" style="color: #878787;" data-action="click->form-increment#timeDown"></i>
        <div class=" text-center ">
        <%= f.input :time_preference, label: false, input_html: { class: "index-input", data: { form_increment_target: "input"}, value: @meal.people_preference.nil? ? 30 : @meal.time_preference } %>
          mins
        </div>
        <i class="fa-solid fa-circle-plus fa-2x" style="color: #fcd444;" data-action="click->form-increment#timeUp"></i>
      </div>
    </div>
    <div class="card-preference">
      <div class="text-center mb-4 preference-title">
        <h4>Number of People</h4>
      </div>
      <div class="d-flex justify-content-evenly" data-controller="form-increment">
        <i class="fa-solid fa-circle-minus fa-2x" style="color: #878787;" data-action="click->form-increment#peopleDown"></i>
        <%= f.input :people_preference, label: false,  input_html: { class: "index-input", data: { form_increment_target: "input"}, value: @meal.people_preference.nil? ? 1 : @meal.people_preference } %>
        <i class="fa-solid fa-circle-plus fa-2x" style="color: #fcd444;" data-action="click->form-increment#peopleUp"></i>
      </div>
      <div>
      </div>
    </div>
    <%= f.submit 'Done!', class: "mx-auto d-block card-done" %>
  <% end %>
</div>
<%= render "shared/navbar" %>
