<div class="container-body">
  <div class="title-card">
    <%= image_tag "logo.png", class: "small-logo" %>
    <h2 class="mt-2 mb-2">Hi Sam!</h2> <%= image_tag "logo.png", class: "small-logo" %>
    <p class="p-text">Welcome back! <br> What shall we cook today?</p>
  </div>
  <div>
    <h3 class="menu-text mt-3"> I want something quick</h3>
  </div>
  <%= render "shared/recipe_card" %>
  <%= render "shared/recipe_card" %>
  <%= render "shared/recipe_card" %>
</div>
  <%= render "shared/navbar" %>
