<div class="container-body">
<div class="title-card">
  <%= image_tag "logo.png", class: "small-logo" %>
  <h2 class="mt-2 mb-2">Welcome back! <%= image_tag "logo.png", class: "small-logo" %></h2>
  <p class="p-text">Welcome back! <br> What shall we cook today?</p>
  </div>
  <div>
  <h3 class="menu-text"> I want something quick</h2>
  </div>
  <div class="small-card">
  <%= image_tag @recipe.image, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @recipe.title %></h5>
    <p class="card-text"><%= @recipe.content %></p>
    <a href="#" class="btn btn-success">COOK</a>
  </div>
</div>

</div>

<%= render "shared/navbar" %>
