<div class="container-ingredients-index">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <h1>Add persistent ingredient</h1>
  </div>
  <%# /////// %>
  <div class="pantry_ingredients-card">
    <%= link_to "Show", pantry_user_path, class: "text-decoration-none" %>
    <% current_user.pantry_ingredients.each do |ingredient| %>
      <%# <%= ingredient.ingredient.category %>
      <div class="added-ingredients">
        <%= ingredient.ingredient.name.titleize %>
      </div>
    <% end %>
  </div>
  <%# /////// %>
  <div class="container-ingredients-card">
    <div class="ingredients_by_category">
      <% @ingredients_by_category.each do |category, ingredients| %>
        <%# <fieldset> %>
        <legend><%= category %></legend>
        <div class="row">
          <div class="col d-flex justify-content-evenly check-box-align">
            <% ingredients.sort_by(&:name).each do |ingredient| %>
              <%= form_with url: pantry_user_path, method: :post, data: { controller: 'autosave'} do |f| %>
                <input type="checkbox" id="ingredient-select-<%= ingredient.id %>" class="check-box"  data-action='change->autosave#save' <%= "checked" if @user_ingredient_ids.include?(ingredient.id) %> >
                <label for="ingredient-select-<%= ingredient.id %>" ><%= ingredient.name %></label>
                <input type="hidden" id="" class=""  value="<%= ingredient.id %>" name="ingredient[id]" checked>
              <% end %>
            <% end %>
          </div>
        </div>
        <%# </fieldset> %>
      <% end %>
      <%= link_to "Set up", pantry_user_path, class: "mx-auto d-block btn-continue"  %>
      <%# <%= submit_tag "Set up!", class:  "mx-auto d-block btn-continue"  %>
    </div>
  </div>
  <%# //////// %>
  <div class="card-add-ingredient">
    <div class="text-center mb-4 card-title">
      <h3>Add an Ingredient</h3>
    </div>
    <%= form_with url: pantry_user_path, method: :get, class: "d-flex"  %>
    <%= text_field_tag :q,
            params[:q],
            class: "form-control",
            placeholder: "Type a keyword"
    %>
    <%= submit_tag "Search", name: "", class:  "mx-auto d-block btn-continue" %>
    <% @lol.each do |hit|%>
      <%= link_to hit["name"], pantry_user_path(ingredient_name: hit["name"]), data: {turbo_method: :post} %>
    <% end %>
  </div>
</div>
